
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <meta name="viewport" content="width-devide-width" />
    <title>Indexx</title>
    </head>
    <body> 
        <div>
            <ul>
                <li>@Html.ActionLink("Upload","Upload")</li>
            </ul>

        </div>
</body>
</html>

