
@{
    ViewBag.Title = "Visualizar";
}


    <div class="jumbotron" style="background-color:forestgreen; color:white">
        <h1>Tarefa</h1>
        <br>
        <br>
        <p> O que é Informática ?</p>
        <p>O que é internet ? </p>
        <p>O que é Mouse ? </p>
        <br>
        <br>
        <p>OBS: Mandar as Respostas no Upload de Arquivos.</p>

    </div>

<div class="#">
    <div class="#">
        <div class="panel panel-primary" id="painel-enquete">
            <div class="panel-heading">
                <p>Enquete</p>
            </div>
            <div class="panel-body">
                <p>Como Anda Seu Estudos:</p>
                <br>
                <input type="radio" name="opcao" value="1" checked />Ótimo<br>
                <br>
                <input type="radio" name="opcao" value="2" />Bom<br>
                <br>
                <input type="radio" name="opcao" value="3" />Mal<br>
            </div>
            <div class="jumbotron">
                <button class="btn btn-primary" id="btnEnviarEnquete">Enviar</button>
            </div>
        </div>
    </div>
</div>





@section scripts{
    <script>
        $(function () {
            $("#btnEnviarEnquete").click(function () {
                var opc = $("#painel-enquete input[type=radio]:checked").val();
                $.ajax({
                    type: "POST",
                    url: "ResponderEnquete",
                    data: { opcao: opc }
                }).done(function (msg) {
                    $("#painel-enquete .panel-body").html("<p>" + msg + "<p>");
                    $("#painel-enquete .panel-footer").hide();
                });
            });

        });
    </script>
}

@Html.ActionLink("Voltar", "Index")


