
@{
    ViewBag.Title = "Visualizar";
}

<h2>Tarefa</h2>

@Html.ActionLink("Voltar a Curso de Extensão", "Index")

<div class="#">
    <div class="#">
        <div class="panel panel-primary" id="painel-enquete">
            <div class="panel-heading">
                <p>Enquete</p>
            </div>
            <div class="panel-body">
                <p>Quais Dessas opções abaixo não é comida:</p>
                <br>
                <input type="radio" name="opcao" value="1" checked />Arroz<br>
                <br>
                <input type="radio" name="opcao" value="2" />Feijão<br>
                <br>
                <input type="radio" name="opcao" value="3" />Teclado<br>
            </div>
            <div class="jumbotron">
                <button class="btn btn-primary" id="btnEnviarEnquete">Enviar</button>
            </div>
        </div>
    </div>
</div>





@section scripts{
    <script>
        $(function () {
            $("#btnEnviarEnquete").click(function () {
                var opc = $("#painel-enquete input[type=radio]:checked").val();
                $.ajax({
                    type: "POST",
                    url: "ResponderEnquete",
                    data: { opcao: opc }
                }).done(function (msg) {
                    $("#painel-enquete .panel-body").html("<p>" + msg + "<p>");
                    $("#painel-enquete .panel-footer").hide();
                });
            });

        });
    </script>
}



