@model Monitoria.Models.Usuario

<link href="~/Content/login.css" rel="stylesheet" />


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName() + " - Bem-Vindo", "Index", "Home", routeValues: null, htmlAttributes: new { title = "User" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registro", "Registro", "Home", routeValues: null, htmlAttributes: new { id = "registrarLink" })</li>
        <li>@Html.ActionLink("Sair", "Logar", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
