@{

    ViewBag.Title = "Monitoria";
    
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Vamos Voltar aos estudos </p>
    <p></p>

</div>

<div class="row">

    <div class="col-md-4">
       

    </div>

    <div class="col-md-4">



    </div>

    <div class="col-md-4">
    </div>
</div>