@model Monitoria.Models.Materia

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem Certeza que Quer Apagar?</h3>
<div>
    <h4>Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar Nas Minhas Matérias", "Index")
        </div>
    }
</div>
