@model Monitoria.Models.Materia

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div class="jumbotron">
    <h1>Trabalho de C#</h1>
    <p class="lead">Professor: XXXXX </p>
    <p>Data de Entrega:XX/XX/XXXX</p>
    <p>Grupo até 4 Pessoa </p>
    <p>Enviar o Trabalho no Email do Professor </p>
    <p>Email:XXX@Email.com</p>
</div>

<div class="jumbotron">
    <h2>Requisitos do Trabalho:</h2>
    <p class="lead">Ajax</p>
    <p>Booststrap</p>
    <p>MVC</p>
    <p>SQL Serve</p>
    <p>CRUD em 5 Tabelas</p>

</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MateriaID }) |
    @Html.ActionLink("Voltar Nas Minhas Matérias", "Index")
</p>
