
@{
    ViewBag.Title = "Trabalho";
}

<h2>Trabalho</h2>

<div class="jumbotron">
    <h1>Trabalho C#</h1>
    <p class="lead">Professor: XXXXX </p>
    <p>Data de Entrega:</p>
</div>

<div class="jumbotron">
    <h2>Requisitos do Trabalho:</h2>
    <p class="lead">Ajax</p>
    <p>Booststrap</p>
    <p>MVC</p>
</div>






<div>
    @Html.ActionLink("Voltar", "Index")
</div>